body {
    overflow-x: hidden;
    font-family: 'Nanum Barun Gothic UltraLight', sans-serif;
}

header {
    background: url('../img/header.png') no-repeat scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
header .intro-text {
    padding-top: 130px;
    padding-bottom: 30px;
}
header .intro-text .intro-lead-in {
    font-size: 14px;
    line-height: 22px;
}
header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
     line-height: 50px;
}
header .intro-guide {
    font-family: 'Nanum Barun Gothic UltraLight', sans-serif;
	font-size: 10px;
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	text-align: center;
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 25px;
    }
    header .intro-text .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
    header .intro-guide {
        font-family: 'Nanum Barun Gothic UltraLight', sans-serif;
        font-size: 14px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: center;
    }
}

section {
    padding: 80px 0;
}
section h2.section-heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 14px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
}
@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-schedule {
    font-size: 10px;
    padding: 3px 6px;
    font-family: 'Nanum Barun Gothic UltraLight', sans-serif;
}
@media (min-width: 768px) {
    .btn-schedule {
        font-size: 14px;
        padding: 6px 12px;
    }
}

.section-contents {
    margin-top: 75px;
}

.lucky-box {
    padding-top:40px;
    padding-bottom:40px;
    border-style:dashed;
    border-width:1px;
}

.randomizeMachine {
    width: 100%;
    height: 90px;
}
@media (min-width: 768px) {
    .randomizeMachine {
        height: 200px;
    }
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

.light-bg {
    background-color: #f2f5f7;
}

.blind-test {
    height: 400px;
    overflow-y: scroll;
}

.name-result{
    font-size:0.7rem;
}
.name-result-rest {
    font-size:0.6rem;
}

@media (min-width: 768px) {
    .name-result {
        font-size:1rem;
    }

    .name-result-rest {
        font-size:1rem;
    }
}