
@font-face {
	font-family: 'BM JUA';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/BM-JUA.eot');
	src: url('../fonts/BM-JUA.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BM-JUA.woff') format('woff'),
		url('../fonts/BM-JUA.svg#BM-JUA') format('svg'),
		url('../fonts/BM-JUA.ttf') format('truetype');
}

body {
    overflow-x: hidden;
    font-family: 'Nanum Barun Gothic UltraLight', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "BM JUA", '배달의민족 주아', sans-serif;
}

header {
    font-family: "BM JUA", '배달의민족 주아', sans-serif;
    background: url('../img/header.png') no-repeat scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 15px;
}
header .intro-text .intro-lead-in {
    font-size: 14px;
    line-height: 22px;
}
header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
     line-height: 50px;
}
header .intro-guide {
    font-family: 'Nanum Barun Gothic UltraLight', sans-serif;
	font-size: 9px;
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	text-align: center;
}

.navbar-brand {
    font-family: "BM JUA", '배달의민족 주아', sans-serif;
}

.nav-item {
    font-family: "BM JUA", '배달의민족 주아', sans-serif;
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 150px;
        padding-bottom: 70px;
    }
    header .intro-text .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
    header .intro-guide {
        font-family: 'Nanum Barun Gothic UltraLight', sans-serif;
        font-size: 14px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: center;
    }
}

section {
    padding: 70px 0;
}
section h2.section-heading {
    font-family: "BM JUA", '배달의민족 주아', sans-serif;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 14px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    section {
        padding: 100px 0;
    }
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-schedule {
    font-size: 10px;
    padding: 3px 6px;
    font-family: 'Nanum Barun Gothic UltraLight', sans-serif;
}
@media (min-width: 768px) {
    .btn-schedule {
        font-size: 14px;
        padding: 6px 12px;
    }
}

.section-contents {
    margin-top: 25px;
}
@media (min-width: 768px) {
    .section-contents {
        margin-top: 50px;
    }
}

.lucky-box {
    padding-top:40px;
    padding-bottom:40px;
    border: 1px dashed;
}

.randomizeMachine {
    width: 100%;
    height: 90px;
}
@media (min-width: 768px) {
    .randomizeMachine {
        height: 200px;
    }
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

.light-bg {
    background-color: #f2f5f7;
}

.blind-test {
    height: 400px;
    overflow-y: scroll;
}
.name-result-contents{
    margin:auto;
    padding:5px;
}
.name-result{
    font-size:0.7rem;
    margin-left:0;
    margin-right:0;
    padding:0;
}
.name-result-rest {
    font-size:0.6rem;
    margin-left:0;
    margin-right:0;
}

.name-best{
    width:100%;
    margin:auto;
    padding:5px;
}

.name-best .img-fluid{
    width:100px;
}

.name-tree{
 width:50%;
}

.name-tree-canvas{
    height:150px;
}

.name-rest{
    padding:3px;
}

#kakao-btn{
    width:30px;
}

@media (min-width: 768px) {
    .name-best{
        width:33.3%;
    }
    .name-tree{
        width:33.3%;
    }

    .name-tree-canvas{
        height:100%;
    }

    .name-best .img-fluid{
        width:100%;
    }

    .name-rest{
        padding:10px;
    }

    .name-result-contents{
        padding:8px;
        font-size:1.3em;
    }

    .name-result {
        font-size: 1rem;
        width:100%;
        margin-left:0;
        margin-right:0;
        padding:0;
    }

    .name-result-rest {
        font-size: 1rem;
    }

    #kakao-btn{
        width:50px;
    }
}

.keyword-item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.keyword-date {
    margin-bottom: 30px;
}

@media (min-width: 1024px){
    .name-result {
        font-size: 1.1rem;
        height:350px;
        width:100%;
    }

}

#slot-machine-count {
    margin-top: 30px;
    margin-bottom: 45px;
}
.white-background {
    background: #FFFFFF;
}

.top-bottom-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    p {
        font-size: 13px;
    }
    td {
        font-size: 13px;
    }
    tr {
        font-size: 13px;
    }
    .alert {
        font-size: 13px;
    }
}

.name-result {
    padding: 0;
    margin: auto;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}

.name-rest {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}