.displayNone {
    display: none;
}

.vis-item-content .label{
    background-color: #ffffff;
    color : #000;
}

.vis-item,
.vis-item.vis-box.vis-selected{
    background-color: rgb(24, 112, 185);
    border-color: rgb(24, 112, 185);
    font-weight: bold;
    color : #fff;
}

.vis-item .title {
    border-bottom: #ffffff dashed 1px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.vis-item.d-together-item {
    background-color: #014481;
    border-color: #014481;
    font-weight: bold;
    color : #fff;
}

.vis-item.d-right-item {
    background-color: #4ca0e6;
    border-color: #4ca0e6;
    font-weight: bold;
    color : #fff;
}

.vis-item.d-freekorea-item {
    background-color: #c9151e;
    border-color: #c9151e;
    font-weight: bold;
    color : #fff;
}

.vis-item.d-people-item {
    background-color: #036242;
    border-color: #036242;
    font-weight: bold;
    color : #fff;
}

.vis-item.d-etc-item {
    background-color: #5d5d5d;
    border-color: #5d5d5d;
    font-weight: bold;
    color : #fff;
}

.vis-item.vis-selected.d-together-item,
.vis-item.vis-selected.d-right-item,
.vis-item.vis-selected.d-freekorea-item,
.vis-item.vis-selected.d-people-item,
.vis-item.vis-selected.d-etc-item {
    background-color: #fff;
    border-color: #014481;
    font-weight: bold;
    color : #000;
}

.vis-group > .vis-item.vis-line.vis-selected {}
.vis-group > .vis-item.vis-selected {
    z-index:0;
}
.vis-item.vis-selected .title {
    border-bottom: #000000 dashed 1px;
}

.vis-item.vis-selected .label {
    background-color: #000000;
    color: #fff;
}

.vis-item.vis-line {
    z-index: 0;
}

.d_keyword {
    color:#000
}

.d_keyword:hover,
.d_keyword:active{
    text-decoration:none;
    color:#000
}

.d_keyword:focus {
    text-decoration:none;
    color:#333
}

#timeline .d-timeline-more-btn {
    position:absolute;
    z-index:5;
    top:10px;
    left:25px;
}

.thumbnail a.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/*.vis-group > .vis-item.vis-line.vis-selected {
.vis-group > .vis-item.vis-selected {
    z-index:0;
}*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.panel-group {
    margin-bottom: 0px;
}
.helper {
    display: inline-block;
    height: 100%;
}
.portfolio-modal .modal-content img {
    margin-bottom: 20px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.displayNone {
  display:none;
}
.btn-kakaostory {
    color: #fff;
    background-color: #dcb382;
    border-color: rgba(0,0,0,0.2);
}
.btn-kakaotalk {
    color: #fff;
    background-color: #e2d53f;
    border-color: rgba(0,0,0,0.2);
}


#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.img-pint {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.video-pint {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
