{% for result in cheering_list %}
<div class="col-12 col-md-6 keyword-item">
    <div class="row align-items-center">
        <div class="col-2">
            {% include 'candidate_img_template.html' %}
        </div>
        <div class="col-10">
            {% if result.created.date < today.date %}
                {{ result.ip }} | {{ result.created|date:"m.d" }}
            {% else %}
                {{ result.ip }} | 오늘 {{ result.created|date:"G:i" }}
            {% endif %}
            <br>
            {{ result.message }}
        </div>
    </div>
</div>
{% endfor %}
