<div id="constellation-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">별자리 궁합 결과</h4>
            </div>
            <div class="modal-body">
                {% for result in constellation_result %}
                <p>{{ result.candidate }} {{ result.constellation }} {{ result.score }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>