{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{% static 'css/waitMe.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>

    <title>2017 대선닷컴</title>
</head>

<body id="page-top" class="index">
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> 메뉴 <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">2017Daesun.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#timeline">타임키워드</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#charts">각종차트</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blind">공약들</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">팀소개</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">대선책방</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">2017 대선닷컴에 오신 여러분 환영합니다</div>
                <div class="intro-heading">당신의 선택에 대한민국의 미래가 달려있습니다</div>
                <!--<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>-->
            </div>
        </div>
    </header>

    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">대선주자 타임라인</h2>
                    <h3 class="section-subheading text-muted">시간별로 뭐하고 있었나..</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="charts" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">언론관심도 차트</h2>
                    <h3 class="section-subheading text-muted">언론별/시간별 대선주자 관심도 그래프</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <h4 class="service-heading">대선주자별 언급 점유율</h4>
                    <select id='selectBox'>
                        <option value="total">전체</option>
                        <option value="asiae">아시아경제</option>
                        <option value="chosun">조선일보</option>
                        <option value="donga">동아일보</option>
                        <option value="edaily">이데일리</option>
                        <option value="hani">한겨례</option>
                        <option value="heraldcorp">헤럴드경제</option>
                        <option value="ichannela">채널A</option>
                        <option value="joins">중앙일보</option>
                        <option value="jtbc">JTBC</option>
                        <option value="kbs">KBS</option>
                        <option value="khan">경향신문</option>
                        <option value="kmib">국민일보</option>
                        <option value="mbc">MBC</option>
                        <option value="mbn">MBN 매일방송</option>
                        <option value="mk">매일경제</option>
                        <option value="mt">머니투데이</option>
                        <option value="munhwa">문화일보</option>
                        <option value="newsis">Newsis</option>
                        <option value="news1">뉴스1</option>
                        <option value="ohmynews">Ohmynews</option>
                        <option value="sbs">SBS</option>
                        <option value="sedaily">서울경제</option>
                        <option value="segye">세계일보</option>
                        <option value="seoul">서울일보</option>
                        <option value="sisain">시사IN</option>
                        <option value="tvchosun">TV조선</option>
                        <option value="yonhap">연합뉴스</option>
                        <option value="ytn">YTN</option>
                    </select>
                    <div id="press_chart"></div>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">언론에서 대선주자 언급 횟수</h4>
                    <div id="daily_chart"></div>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">지지율 변화 추이</h4>
                    <div id="rating_chart"></div>
                </div>
                <div class="col-md-3">
                    <h4 class="service-heading">사랑과 전쟁</h4>
                    <div id="mynetwork" style="height:320px"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="blind">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">대선공약 블라인드 테스트</h2>
                    <h3 class="section-subheading text-muted">대선공약을 평가하고 자신에게 맞는 후보를 찾으세요</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <a href="#blindTestModal" data-toggle="modal">
                        <button type="button" class="btn btn-lg btn-primary" onclick="blindTestButtonClick();">시작하기</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="portfolio-modal modal fade" id="blindTestModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container" id="blindTestDiv">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2 id="blindTestTitle"></h2>
                                <p id="blindTestContents"></p>

                                <div>
                                    <button type="button" class="btn btn-success" value="1" onclick="blindNextButtonClick(this);">좋아요</button>
                                    <button type="button" class="btn btn-danger" value="-1" onclick="blindNextButtonClick(this);">싫어요</button>
                                    <button type="button" class="btn btn-default" value="0" onclick="blindNextButtonClick(this);">관심없어요</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="blindResultDiv" style="display:none">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2 id="blindResultTitle"></h2>
                                <p id="blindResultContents"></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 창 닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="pledgeRank" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">대선공약 랭킹</h2>
                    <h3 class="section-subheading text-muted">블라인드 테스트 결과로 나온 공약별 랭킹입니다</h3>
                </div>
            </div>
            <div class="row">
                <ul class="list-inline" style="vertical-align: middle;">
                    <li><img src="{% static 'img/moon.jpeg' %}" class="img-circle img-responsive" width="100"></li>
                    <li><h4 class="inline">공약제목이당</h4></li>
                    <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 123</li>
                    <li><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 123</li>
                </ul>
                <table class="table table-condensed">
                    <tbody id="rankTable">
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section id="chemistry">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">이름점</h2>
                    <h3 class="section-subheading text-muted">대선 주자와 이름점을 보세요</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team Daesun</h2>
                    <h3 class="section-subheading text-muted">팀 소개 입니다</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>Backend</h4>
                        <p class="text-muted">kimkkikki</p>
                        <p class="text-muted">minchoco</p>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>Front</h4>
                        <p class="text-muted">r2refresh</p>
                        <p class="text-muted">wonchoel</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <h4>Design</h4>
                        <p class="text-muted">haneol</p>
                        <p class="text-muted">minh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsor" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">후원하기</h2>
                    <h3 class="section-subheading text-muted">서버비가 없어서 후원 받아야 해요</h3>
                </div>
            </div>
        </div>
    </section>
</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; 2017daesun.com 2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">Cantact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/slidr.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/waitMe.min.js' %}"></script>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/agency.min.js' %}"></script>
<script type="text/javascript">
    function waitMe(element) {
        element.waitMe({
            effect : 'facebook',
            text : '로딩 중입니다',
            bg : 'rgba(255,255,255,0.7)',
            color : '#000',
            maxSize : '',
            textPos : 'vertical',
            fontSize : '',
            source : ''
        });
    }
</script>
<script type="text/javascript" src="{% static '/js/stats.js' %}"></script>
<script type="text/javascript" src="{% static '/js/pledge-rank.js' %}"></script>
<script type="text/javascript" src="{% static '/js/blind-test.js' %}"></script>
<script type="text/javascript" src="{% static '/js/love-test.js' %}"></script>

</html>