{% load staticfiles %}
<div id="lucky-name-result-detail" class="row" style="margin-left:0; margin-right:0">
    <div class="text-center name-result-contents">
        {% if result.score >= 180 %}
        자음과 모음의 오묘한 조화~ 이 정도면 백년해로 가능!
        {% elif result.score >= 160 %}
        누가 그랬던가. 우린 인연이라고
        {% elif result.score >= 140 %}
        맞을듯 안 맞을듯. 싸우면서 사랑하는거지
        {% elif result.score >= 100 %}
        반이라도 비슷한게 어디야
        {% elif result.score >= 60 %}
        우리… 계속 만나도 되겠니?
        {% else %}
        너.. 나 아는척 하지마.
        {% endif %}
    </div>
    <div class="row name-result" id="lucky_name_best">
        <div class="text-center name-best" data-aos="fade-in">
            {% include 'candidate_img_template.html' %}
            <br>
            <span id="best_candidate">{{ result.candidate }}</span><br>
            <span id="best_score">{{ result.score }}점</span>
        </div>
        <div class="text-center name-tree">
            <div class="name-tree-canvas" id="lucky_name_result_to"></div>
        </div>
        <div class="text-center name-tree">
            <div class="name-tree-canvas" id="lucky_name_result_from"></div>
        </div>
    </div>
    <div class="row name-result-rest">
        {% for result in list %}
            {% if forloop.counter != 1 and forloop.counter < 8 %}
                <div class="col-2 text-center name-rest">
                     {{ forloop.counter }} 등
                    {% include 'candidate_img_template.html' %}
                    <span>{{ result.candidate }}</span><br>
                    <span>{{ result.score }}점</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

<script type="text/javascript">

    var network_from = null;
    var network_to = null;

    function destroy() {
        if (network_from !== null) {
            network_from.destroy();
            network_from = null;
        }
        if (network_to !== null) {
            network_to.destroy();
            network_to = null;
        }
    }

    function draw(to_from, nodeList, target) {

        var nodes = nodeList;
        var edges = [];

        // 이름 3글자인 사람들
        name_length = parseInt('{{ name_length }}');
        var left = 0;
        var right = name_length;
        var left_name = 99;
        var right_name = 0;

        for(var last = 0; last < name_length;last++){
            edges.push({from: left_name-- , to: right_name++});
        }

        for(var i= name_length - 1; i*2 >= 4; i--){
            for(var j = 0; j <i; j++) {
                edges.push({from: left, to: right})
                edges.push({from: left + 1, to: right})
                left++;
                right++;
            }
            left++;
        }

        // create a network
        var container = document.getElementById(target);
        var data = {
            nodes: nodes,
            edges: edges
        };

        var options = {
            autoResize:true,
            height: '100%',
            width: '100%',
            nodes: {
                font: {
                    size: 50, // px
                    color: '#000000'
                 },
                color: {
                    background: '#ffffff',
                    border: '#000000'
                },
            },
            layout: {
                hierarchical: {
                    direction: 'DU'
                }
            },
            physics: {
                forceAtlas2Based: {
                  springLength: 100
                },
                stabilization: {
                    enabled: true,
                },
                maxVelocity: 11,
                minVelocity: 0.37,
                solver: 'forceAtlas2Based'
            },
            interaction: {
                dragNodes: false,
                dragView:false
            }
        };
        if(to_from == 'to') {
            network_to = new vis.Network(container, data, options);

        }else{
            network_from = new vis.Network(container, data, options);
        }
    }

$(function() {
    destroy();
    draw('to', JSON.parse('{{ to_nodes | escapejs  }}'.replace(/'/gi, "\"")), 'lucky_name_result_to');
    draw('from', JSON.parse('{{ from_nodes | escapejs  }}'.replace(/'/gi, "\"")), 'lucky_name_result_from');
});

$(document).ready(function(){

    setInterval(function() {
        if (network_from !== null) {
           network_from.fit();
        }
        if (network_to !== null) {
            network_to.fit();
        }

        $('.name-result').style = 'padding:0px;margin:auto';

    }, 100);

});

</script>
