{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>2017 대선닷컴</title>

    <!-- Font CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel='stylesheet' href="{% static 'css/nanumbarungothic.css' %}" type='text/css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/earlyaccess/nanumpenscript.css' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap-theme.min.css' %}">-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- Library CSS -->
    <link rel="stylesheet" href="{% static 'css/waitMe.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'lib/vis/dist/vis.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/c3/c3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.print.min.css'%}" media='print'>
    <link rel="stylesheet" href="{% static 'css/jquery.slotmachine.min.css'%}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> 메뉴 <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">2017 대선닷컴</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rating">지지율</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#pledge">공약</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#lucky">럭키박스</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#press">언론</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cheering">응원메세지</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#donate">기부하기</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">대한민국을 책임질 대통령</div>
                <div class="intro-heading">당신은 누구를 고르시습니까?</div>
                <div class="intro-guide">2017대선닷컴은 특정 후보를 지지하지 않습니다.<br>본 사이트의 모든 콘텐츠는 오직 <strong>재미</strong>를 위해 만들어 졌습니다.</div>
            </div>
        </div>
    </header>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button id="calendar-button-1" type="button" class="btn btn-default btn-schedule" data-toggle="modal" data-target="#calendar-modal">3.10<br>예비후보자 등록</button>
            </div>
            <div class="btn-group">
                <button id="calendar-button-2" type="button" class="btn btn-default btn-schedule" data-toggle="modal" data-target="#calendar-modal">4.15 ~ 16<br>후보자 등록</button>
            </div>
            <div class="btn-group">
                <button id="calendar-button-3" type="button" class="btn btn-default btn-schedule" data-toggle="modal" data-target="#calendar-modal">4.25 ~ 30<br>재외투표소 투표</button>
            </div>
            <div class="btn-group">
                <button id="calendar-button-4" type="button" class="btn btn-default btn-schedule" data-toggle="modal" data-target="#calendar-modal">5.4 ~ 5<br>사전투표소 투표</button>
            </div>
            <div class="btn-group">
                <button id="calendar-button-5" type="button" class="btn btn-default btn-schedule" data-toggle="modal" data-target="#calendar-modal">5.9<br>대통령선거</button>
            </div>
        </div>
    </div>

    <!-- Calendar Modal -->
    <div id="calendar-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">대선 주요 일정</h4>
                </div>
                <div class="modal-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <section id="rating" class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 text-center">&nbsp;</div>
                <div class="col-md-8 col-sm-8 text-center">
                    <h2 class="section-heading">누가누가 잘하나</h2>
                    <h3 class="section-subheading text-muted">여론조사결과로 보는 대선 지지율 결과와<br>2017 대선닷컴의 럭키박스 결과를 기반으로 한 운빨 결과를 보여드립니다</h3>
                </div>
                <div class="col-md-2 col-sm-2 text-center">
                    <input id="rating-toggle" type="checkbox" checked data-toggle="toggle" data-on="여론조사" data-off="우주의기운" data-onstyle="success" data-offstyle="danger" title="지지율 토글 버튼">
                </div>
            </div>
            <div class="row section-contents">
                <div id="rating-template">
                {% include 'rating.html' %}
                </div>
            </div>
            <div class="row text-center">
                <p id="rating-description">리얼미터가 조사한 여론조사 결과입니다. 자세한 내용은 리얼미터 홈페이지를 참고하세요</p>
                <button id="rating-graph-button" class="btn btn-info btn-block" data-toggle="modal" data-target="#rating-modal">그래프 보기</button>
            </div>
        </div>
    </section>

    <!-- Rating Modal -->
    <div id="rating-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">여론조사 지지율 차트</h4>
                </div>
                <div class="modal-body">
                    <div id="ratingChart"></div>
                    <p class="text-center">리얼미터와 한국갤럽의 여론조사 결과를 재구성한 것입니다.<br>출처: 리얼미터, 한국갤럽</p>
                </div>
            </div>
        </div>
    </div>

    <section id="pledge">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">공약 이상형</h2>
                    <h3 class="section-subheading text-muted">대선공약을 평가하고 자신에게 맞는 후보를 찾으세요</h3>
                </div>
            </div>
            <div class="row section-contents">
                <div class="text-center">
                    <button id="pledge-test-start-button" class="btn btn-primary">시작하기</button>
                    <button id="pledge-rank-button" class="btn btn-default">랭킹보기</button>
                </div>
            </div>
        </div>
    </section>

    <!-- 공약 이상형 모달 -->
    <div id="pledge-test-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">공약 이상형</h4>
                </div>
                <div id="pledge-test" class="modal-body">
                    <div class="well well-lg text-center">
                        <p id="pledge-test-count" class="pull-right"></p>
                        <p>&nbsp;</p>
                        <h4 id="pledge-test-title"></h4>
                        <p id="pledge-test-contents"></p>
                    </div>
                    <div class="row text-center">
                        <button type="button" class="btn btn-success" value="1" onclick="blindNextButtonClick(this);">좋아요</button>
                        <button type="button" class="btn btn-danger" value="-1" onclick="blindNextButtonClick(this);">싫어요</button>
                        <button type="button" class="btn btn-default" value="0" onclick="blindNextButtonClick(this);">몰라요</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pledge Rank Modal -->
    {% include 'pledge_rank_modal.html' %}

    <section id="slot" class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">대통령 슬롯 머신</h2>
                    <h3 class="section-subheading text-muted">도저히 모르겠다 돌려보자 1%의 확률</h3>
                </div>
            </div>
            <div class="row text-center">
                <button id="slot-start" type="button" class="btn btn-default">룰렛 돌리기</button>
            </div>
            <div class="row section-contents">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div id="slot-machine-1" class="randomizeMachine">
                        <div><img class="img-responsive" src="{% static 'img/candidate/moon.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/ahn1.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/ahn2.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/hong.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/lee.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/nam.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/sim.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/son.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/you.jpg' %}"/></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div id="slot-machine-2" class="randomizeMachine">
                        <div><img class="img-responsive" src="{% static 'img/candidate/moon.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/ahn1.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/ahn2.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/hong.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/lee.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/nam.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/sim.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/son.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/you.jpg' %}"/></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div id="slot-machine-3" class="randomizeMachine">
                        <div><img class="img-responsive" src="{% static 'img/candidate/moon.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/ahn1.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/ahn2.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/hong.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/lee.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/nam.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/sim.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/son.jpg' %}"/></div>
                        <div><img class="img-responsive" src="{% static 'img/candidate/you.jpg' %}"/></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 슬롯 모달뷰 -->
    <div id="slot-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">축하합니다</h4>
                </div>
                <div class="modal-body">
                    <div id="slot-result" class="row text-center">
                        <!--TODO 여기에 슬롯결과 표시됨-->
                    </div>
                    <div class="row text-center">
                        <button id="slot-share" class="btn btn-primary">공유하고 명예의전당 등록</button>
                        <button class="btn btn-default" data-dismiss="modal">다시하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="lucky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">럭키박스</h2>
                    <h3 class="section-subheading text-muted">이름점</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center lucky-box">
                    <h3>이름점</h3>
                    <p>자음모음 획수로 보는 후보자와의 궁합</p>
                    <div class="input-group">
                        <input type="text" id="inputUserName" class="form-control" placeholder="내 이름 입력" maxlength="4">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id='buttonUserName' data-toggle="modal" data-target="#lucky-name-modal">확인</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 text-center lucky-box">
                    <h3>별자리점</h3>
                    <p>로맨틱한 밤하늘로 알아보는 궁합</p>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-8 input-group text-center">
                        <select class="form-control" id="constellation-month" title="월">
                            {% for i in "xxxxxxxxxxxx" %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}월</option>
                            {% endfor %}
                        </select>
                        <span class="input-group-addon">-</span>
                        <select class="form-control col-xs-2" id="constellation-day" title="일">
                            {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}일</option>
                            {% endfor %}
                        </select>
                        <span class="input-group-btn">
                            <button id="constellation-button" type="button" class="btn btn-default">확인</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 이름점 모달뷰 -->
    <div id="lucky-name-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">이름점 결과</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h4><span id="your_name"></span>님과<br>이름점 궁합이 최고입니다</h4>
                            <img id="best_candidate_picture"/>
                            <span id="best_candidate"></span>
                            <span id="best_score"></span>
                        </div>
                        <div class="col-md-8 text-center">
                            <div id="lucky_name_result" style="width:350px;height:300px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="lucky_name_result_rest"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!--TODO: 별자리 모달뷰 디자인-->
    <div id="constellation-result">
    </div>

    <section id="press" class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">언론</h2>
                    <h3 class="section-subheading text-muted">키워드로 보는 대선후보 동향</h3>
                </div>
            </div>
            <div class="row section-contents">
                <div class="col-md-6 col-sm-6 text-center">
                    <h4>언론 언급 점유율</h4>
                    <div id="press-chart-pie"></div>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                    <h4>언론 언급 횟수</h4>
                    <div id="press-chart-line"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="cheering">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">대선주자 응원하기</h2>
                    <h3 class="section-subheading text-muted">대선 주자들에게 응원메시지를 남기는 공간입니다</h3>
                </div>
            </div>
            <div class="row section-contents">
                <div class="input-group">
                    <select class="form-control" id="cheering-candidate" title="대선주자">
                        <option>문재인</option>
                        <option>안희정</option>
                        <option>안철수</option>
                        <option>남경필</option>
                        <option>유승민</option>
                        <option>이재명</option>
                        <option>심상정</option>
                    </select>
                    <span class="input-group-addon">@</span>
                    <input class="form-control" type="text" id="cheering-message" title="메세지">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="post-cheering">등록</button>
                    </span>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>응원후보</th>
                            <th>응원메세지</th>
                            <th>작성자</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody id="cheering-table">
                        {% include 'cheering_table.html' %}
                    </tbody>
                    <tfoot>
                        <tr><td colspan="4"><button id="cheering-more" class="btn btn-default btn-block">응원메세지 더보기</button></td></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>

    <section id="donate" class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">기부하기</h2>
                    <h3 class="section-subheading text-muted">대선후보/대선닷컴에 기부하세요</h3>
                </div>
            </div>
            <div class="row section-contents">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>후원 대상</th>
                            <th>후원 계좌</th>
                            <th>예금주</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>문재인</td>
                            <td>우리은행 1006-901-451607</td>
                            <td>문재인후원회</td>
                        </tr>
                        <tr>
                            <td>안희정</td>
                            <td>농협 301-0206-6146-11</td>
                            <td>김태영</td>
                        </tr>
                        <tr>
                            <td>이재명</td>
                            <td>농협 302-0207-1611-11</td>
                            <td>이재명후원회</td>
                        </tr>
                        <tr>
                            <td>대선닷컴</td>
                            <td>우리은행 계좌개설해야지</td>
                            <td>대선닷컴</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section id="labs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">대선닷컴 연구소</h2>
                    <h3 class="section-subheading text-muted">만들다만 기능들을 보고싶다면 클릭하세요</h3>
                </div>
            </div>
            <div class="row section-contents text-center">
                <a href="{% url 'labs' %}" id="labs-button" class="btn btn-info" target="_blank">기타 등등 기능 보러가기</a>
            </div>
        </div>
    </section>

    <footer class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 2017daesun.com 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/intent/tweet?text=2017대선닷컴&url=2017daesun.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.facebook.com/sharer/sharer.php?u=2017daesun.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#" target="_blank">이용약관</a></li>
                        <li><a href="mailto:kimkkikki1@gmail.com">개발자에게 의견보내기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

<!-- Jquery -->
<script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery-ui/jquery-ui.min.js' %}"></script>

<!-- Bootstrap JS -->
<script type="text/javascript" src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Library -->
<script type="text/javascript" src="{% static 'js/waitMe.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/vis/dist/vis.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/d3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/c3/c3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/main/jquery.slotmachine.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/main/wow.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/jquery.waypoints.js' %}"></script>

<!-- Custom JS -->
<script type="text/javascript" src="{% static 'js/main/daesun-initial.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/rating.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/constellation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/press.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/cheering.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lucky-name-test.js' %}"></script>

<script type="text/javascript">
    var isLoadPledgeRank = false;
    $('#pledge-rank-button').click(function () {
        if (!isLoadPledgeRank) {
            waitMe($('#pledge'));
            $.ajax({
                url: '/pledge?type=rank',
                headers: {
                    'Content-Type':'application/json'
                },
                type: 'GET',
                success: function(data) {
                    $('#pledge-rank').html(data);
                    $('#pledge-rank-modal').modal('show');
                    $('#pledge').waitMe('hide');
                    isLoadPledgeRank = true;
                },
                error: function(data, status, err) {
                    console.log(err);
                    $('#pledge').waitMe('hide');
                }
            });
        } else {
            $('#pledge-rank-modal').modal('show');
        }
    });

    var blindResult;
    var blindToken;
    var blindList;
    var blindLoopIndex;

    $('#pledge-test-start-button').click(function () {
        console.log('pledge start');
        waitMe($('#pledge'));
        $.ajax({
            url: '/apis/pledge',
            headers: {
                'Content-Type':'application/json'
            },
            dataType: 'json',
            cache: false,
            type: 'GET',
            success: function(data) {
                blindResult = [];
                blindToken = data.token;
                blindList = data.list;
                blindLoopIndex = 1;

                $('#pledge-test-title').html(blindList[0].title);
                $('#pledge-test-contents').html(blindList[0].contents);
                $('#pledge-test-count').html('1/' + blindList.length);
                $('#pledge').waitMe('hide');
                $('#pledge-test-modal').modal('show');
            },
            error: function(data, status, err) {
                console.log(err);
                $('#pledge').waitMe('hide');
            }
        });
    });

function blindNextButtonClick(button) {
    if (blindLoopIndex < 10) {
        $('#pledge-test-title').html(blindList[blindLoopIndex].title);
        $('#pledge-test-contents').html(blindList[blindLoopIndex].contents);
        $('#pledge-test-count').html((blindLoopIndex + 1) + '/' + blindList.length);
        blindLoopIndex += 1;
        blindResult.push(button.value);

    } else {
        waitMe($('#pledge'));
        blindLoopIndex += 1;
        blindResult.push(button.value);

        console.log(blindResult);
        $.ajax({
                url: '/pledge',
                cache: false,
                headers: {
                    'Content-Type':'application/json'
                },
                async: true,
                type: 'POST',
                data: JSON.stringify({
                    'token': blindToken,
                    'list': blindResult
                }),
                success: function(data) {
                    $('#pledge').waitMe('hide');
                    $('#pledge-test').html(data);
                },
                error: function(data, status, err) {
                    $('#pledge').waitMe('hide');
                    console.log(err);
                }
            });
    }
}
</script>

<script type="text/javascript">
    $('#slot-share').click(function () {
        console.log('slot-share click');
    });
</script>

<script type="text/javascript">
    //TODO: 슬롯머신
    var slot_candidates = ['문재인', '안철수', '안희정', '홍준표', '이재명', '남경필', '심상정', '손학규', '유승민'];
    var slot_count = 0;
    var machine1 = $("#slot-machine-1").slotMachine({
					active	: 0,
					delay	: 500
				});
    var machine2 = $("#slot-machine-2").slotMachine({
					active	: 1,
					delay	: 500
				});
    var machine3 = $("#slot-machine-3").slotMachine({
					active	: 2,
					delay	: 500
				});

    var result_1, result_2, result_3;
    function onComplete(active){
        switch(this.element[0].id){
            case 'slot-machine-1':
                result_1 = active;
                break;
            case 'slot-machine-2':
                result_2 = active;
                break;
            case 'slot-machine-3':
                slot_count++;
                result_3 = active;

                if (result_1 == result_2 && result_2 == result_3) {
                    waitMe($('#slot'));
                    $.ajax({
                            url: '/slot',
                            headers: {
                                'Content-Type':'application/json'
                            },
                            async: true,
                            type: 'POST',
                            data: JSON.stringify({
                                'type': 'slot',
                                'candidate': slot_candidates[result_1],
                                'count': slot_count
                            }),
                            success: function(data) {
                                $('#slot-result').html(data);
                                $('#slot-modal').modal('show');
                                //TODO 슬롯 카운트 초기화 언제?
                                slot_count = 0;
                                $('#slot').waitMe('hide');
                            },
                            error: function(data, status, err) {
                                console.log(err);
                                $('#slot').waitMe('hide');
                            }
                        });
                } else {

                }
                break;
        }
    }

	$('#slot-start').click(function(){
        machine1.shuffle(5, onComplete);
        machine2.shuffle(10, onComplete);
        machine3.shuffle(15, onComplete);
	});
</script>

<script type="text/javascript">
    var isCalendarLoad = false;
    $('#calendar-button-1, #calendar-button-2, #calendar-button-3, #calendar-button-4, #calendar-button-5').click(function () {
        if (!isCalendarLoad) {
            waitMe($('#calendar-modal'));
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

            if(dd<10) {
                dd='0'+dd
            }
            if(mm<10) {
                mm='0'+mm
            }

            $.ajax({
                    url: "/apis/sns",
                    headers: {
                        'Content-Type':'application/json'
                    },
                    async: true,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        $('#calendar').fullCalendar({
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'listDay, listWeek, month'
                            },
                            views: {
                                listDay: { buttonText: '오늘' },
                                listWeek: { buttonText: '이번주' },
                                month: { buttonText: '이번달' }
                            },
                            defaultView: 'listDay',
                            defaultDate: yyyy + '-' + mm + '-' + dd,
                            navLinks: true, // can click day/week names to navigate views
                            editable: true,
                            eventLimit: true, // allow "more" link when too many events
                            events: data,
                            eventOrder: "start"
                        });
                        $('#calendar-modal').waitMe('hide');
                        isCalendarLoad = true;
                    },
                    error: function(data, status, err) {
                        console.log(err);
                        $('#calendar-modal').waitMe('hide');
                    }
            });
        }
    });
</script>

<script type="text/javascript">
//    TODO: 이슈키워드 쓰고싶다...
//    var issueKeywords;
//    // daily issue keywords
//    $.ajax({
//            url: '/apis/issue',
//            headers: {
//                'Content-Type':'application/json'
//            },
//            type: 'GET',
//            success: function(data) {
//                issueKeywords = data;
//
//            },
//            error: function(data, status, err) {
//                console.log(err);
//            }
//        });
</script>

</html>