{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="2017, 대선, 이름점, 별자리, 대통령, 선거, 한국, 대한민국, 문재인, 안희정, 안철수, 이재명, 유승민, 심상정">
    <meta name="description" content="재미로 보는 2017대선. 대한민국을 책임질 대통령 당신은 누구를 고르시겠습니까?">
    <meta name="author" content="kimkkikki & minchoco">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@2017daesun" />
    <meta name="twitter:creator" content="@2017daesun" />
    <meta property="og:url" content="http://2017daesun.com" />
    <meta property="og:title" content="2017대선닷컴" />
    <meta property="og:description" content="재미로 보는 2017대선. 대한민국을 책임질 대통령 당신은 누구를 고르시겠습니까?" />
    <!--<meta property="og:image" content="" />-->

    <title>2017 대선닷컴</title>

    <!-- Font CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel='stylesheet' href="{% static 'css/nanumbarungothic.css' %}" type='text/css'>
    <!--<link rel='stylesheet' href='https://fonts.googleapis.com/earlyaccess/nanumpenscript.css' type='text/css'>-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Library CSS -->
    <link rel="stylesheet" href="{% static 'css/waitMe.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'lib/vis/dist/vis.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/c3/c3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.print.min.css'%}" media='print'>
    <link rel="stylesheet" href="{% static 'css/jquery.slotmachine.min.css'%}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar">
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '149936898862655',
                xfbml      : true,
                version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ko_KR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#page-top">2017대선닷컴 <span class="badge badge-danger">D-{{ d_day }}</span></a>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#rating">우주의기운</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#lucky">럭키박스</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#keyword">오늘은 무슨일이</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cheering">기운팍팍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#donate">후원하기</a>
                </li>
            </ul>
        </div>
    </nav>

    <header>
        <div class="container-fluid">
            <div class="intro-text">
                <div class="intro-lead-in">재미로 보는 대선</div>
                <div class="intro-heading">2017대선닷컴</div>
                <div class="intro-guide">2017대선닷컴은 특정 후보를 지지하지 않습니다.<br>본 사이트의 모든 콘텐츠는 오직 <strong>재미</strong>를 위해 만들어 졌습니다.</div>
            </div>
        </div>
    </header>

    <div role="toolbar">
        <div class="btn-group special" role="group">
            <button id="calendar-button-1" type="button" class="btn btn-secondary btn-schedule" data-toggle="modal" data-target="#calendar-modal">3.10<br>예비후보자 등록</button>
            <button id="calendar-button-2" type="button" class="btn btn-secondary btn-schedule" data-toggle="modal" data-target="#calendar-modal">4.15 ~ 16<br>후보자 등록</button>
            <button id="calendar-button-3" type="button" class="btn btn-secondary btn-schedule" data-toggle="modal" data-target="#calendar-modal">4.25 ~ 30<br>재외투표소 투표</button>
            <button id="calendar-button-4" type="button" class="btn btn-secondary btn-schedule" data-toggle="modal" data-target="#calendar-modal">5.4 ~ 5<br>사전투표소 투표</button>
            <button id="calendar-button-5" type="button" class="btn btn-secondary btn-schedule" data-toggle="modal" data-target="#calendar-modal">5.9<br>대통령선거</button>
        </div>
    </div>

    <!-- Calendar Modal -->
    <div id="calendar-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">대선 주요 일정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <section id="rating" class="light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <p class="text-muted">2017대선닷컴 이용자가 뽑은</p>
                    <h2 class="section-heading">우주의 기운이 돕는 후보</h2>
                </div>
            </div>
            <div id="rating-template" class="row section-contents">
                {% include 'rating.html' %}
            </div>
            <div class="col col-12">
                <p class="text-center" id="rating-description">2017대선닷컴의 돌려돌려돌림판, 이름점, 별자리점을 이용한 방문자 결과의 합계로 계산되었습니다.<br>실제 지지율과는 전혀 상관이 없습니다.</p>
                <button id="rating-lucky-button" class="btn btn-info btn-block">우주가 어떻게 후보를 돕는지 보러가기</button>
                <button id="rating-graph-button" class="btn btn-info btn-block" data-toggle="modal" data-target="#rating-modal">+더보기(여론조사 지지율 그래프 보기)</button>
            </div>
        </div>
    </section>

    <!-- 우주의기운 선정근거 모달 -->
    <div id="lucky-rating-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">우주가 어떻게 후보를 돕는지 보러가기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="lucky-rating-modal-body"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Rating graph Modal -->
    <div id="rating-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="btn-group mx-auto" data-toggle="buttons">
                        <label class="btn btn-outline-info active">
                            <input type="radio" name="rating-graph-radio" autocomplete="off" value="all" checked>전체
                        </label>
                        <label class="btn btn-outline-success">
                            <input type="radio" name="rating-graph-radio" autocomplete="off" value="realmeter">리얼미터
                        </label>
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="rating-graph-radio" autocomplete="off" value="gallup">한국갤럽
                        </label>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="ratingChart"></div>
                    <p class="text-center">리얼미터와 한국갤럽의 여론조사 결과를 재구성한 것입니다.<br>출처: 리얼미터, 한국갤럽</p>
                </div>
            </div>
        </div>
    </div>

    <section id="lucky">
        <div class="container">
            <div id="slot">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="section-heading">돌려돌려 대선 돌림판 <i id="slot-guide-button" class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="클릭하면 가이드가 나와요"></i></h2>
                        <h3 class="section-subheading text-muted">누구 뽑을지 도저히 모르겠다 돌려보자(1%의 확률)</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4" data-aos="fade-right">
                        <div id="slot-machine-1" class="randomizeMachine text-center">
                            <img class="img-fluid rounded" src="{% static 'img/candidate/moon.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/ahn1.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/ahn2.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/hong.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/lee.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/sim.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/son.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/you.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/kim.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-4" data-aos="fade-up" data-aos-delay="250">
                        <div id="slot-machine-2" class="randomizeMachine text-center">
                            <img class="img-fluid rounded" src="{% static 'img/candidate/moon.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/ahn1.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/ahn2.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/hong.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/lee.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/sim.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/son.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/you.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/kim.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-4" data-aos="fade-left" data-aos-delay="500">
                        <div id="slot-machine-3" class="randomizeMachine text-center">
                            <img class="img-fluid rounded" src="{% static 'img/candidate/moon.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/ahn1.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/ahn2.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/hong.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/lee.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/sim.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/son.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/you.jpg' %}"/>
                            <img class="img-fluid rounded" src="{% static 'img/candidate/kim.jpg' %}"/>
                        </div>
                    </div>
                </div>
                <div id="slot-machine-count" class="row justify-content-center" data-toggle="tooltip" data-placement="bottom" title="아까비.. 다시 돌릴래요?"></div>
                <div class="row justify-content-center">
                    <div class="mx-auto">
                        <button id="slot-start" type="button" class="btn btn-secondary">돌려돌려!</button>
                        <button id="slot-honor-button" class="btn btn-secondary">명예의 전당</button>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center section-contents">
                <div id="name-lucky" class="col-12 col-md-6 text-center lucky-box">
                    <h3>이름점</h3>
                    <p>자음모음 획수로 보는 후보자와의 궁합</p>
                    <div class="input-group">
                        <input type="text" id="inputUserName" class="form-control" placeholder="내 이름 입력" maxlength="4">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id='buttonUserName' data-toggle="modal" data-target="#lucky-name-modal">확인</button>
                        </span>
                    </div>
                </div>
                <div id="constellation-lucky" class="col-12 col-md-6 text-center lucky-box">
                    <h3>별자리점</h3>
                    <p>로맨틱한 밤하늘로 알아보는 궁합</p>
                    <div class="input-group justify-content-center">
                        <div class="input-group-btn">
                            <button id="constellation-month" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">몇월</button>
                            <div class="dropdown-menu">
                                {% for i in "xxxxxxxxxxxx" %}
                                <button class="dropdown-item constellation-month" value="{{ forloop.counter }}">{{ forloop.counter }}월</button>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="input-group-addon">
                            &nbsp;
                        </div>
                        <div class="input-group-btn">
                            <button id="constellation-day" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">몇일</button>
                            <div class="dropdown-menu">
                                {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                                <button class="dropdown-item constellation-day" value="{{ forloop.counter }}">{{ forloop.counter }}일</button>
                                {% endfor %}
                            </div>
                        </div>
                        <span class="input-group-btn">
                            <button id="constellation-button" type="button" class="btn btn-primary">확인</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 슬롯 결과 모달뷰 -->
    <div id="slot-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div id="slot-modal-content" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">축하합니다</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="slot-modal-body" class="modal-body white-background">
                    <div id="slot-result" class="row justify-content-center text-center" style="overflow:hidden">
                        <!--TODO 여기에 슬롯결과 표시됨-->
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="mx-auto">
                            <button id="add-honor-list" class="btn btn-primary" data-toggle="modal" data-target="#slot-add-honor-modal">공유하고 명예의전당 등록</button>
                            <button class="btn btn-secondary" data-dismiss="modal">다시 도전하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 슬롯 결과 등록 모달뷰 -->
    <div id="slot-add-honor-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">공유 및 명예의 전당 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row justify-content-center">
                    <button id="slot-share-facebook" class="btn btn-primary" onclick="share_facebook()">페이스북</button>
                    <button id="slot-share-kakaotalk" class="btn btn-primary" style="background-color: #fec503;border-color:#f6bf01;" onclick="share_kakaotalk()">카카오톡</button>
                    <div id="add-honor-form" class="input-group" style="margin:30px" onclick="check()">
                        <input id="honor_nickname" type="text" name="your_name" placeholder="닉네임을 입력하세요" class="form-control" disabled>
                        <button id ="add_honor" class="btn btn-secondary" disabled>등록하기</button>
                    </div>
                    <div class="text-center" style="font-size:0.4em">
                        등록하기를 누르시면 <a href="{% url  'terms' %}" target="_blank">이용약관</a>과 <a href="{% url 'policy' %}" target="_blank">개인정보처리방침</a>에 동의하신 것으로 간주됩니다 .<br>
                        수집된 정보는 명예의 전당 등록 이외에 어떠한 용도로도 활용되지 않습니다<br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 슬롯 가이드 모달뷰 -->
    <div id="slot-guide-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">돌려돌려 대선 돌림판이란?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>내가 원하는 후보가 골라질 때까지 돌려보는 대선 슬롯머신!<br>슬롯머신 3칸 모두에 내가 원하는 후보 얼굴이 나올 때까지 돌려보세요.</p>
                    <!-- 가이드 이미지 -->
                    <p>한 번에 못 뽑았다고 실망하지 마세요. 나올때까지 돌릴 수 있어요 ㅎㅎ</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 명예의 전당 모달뷰 -->
    <div id="slot-honor-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">명예의 전당</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center">후보를 뽑기까지 가장 많이 돌리신 운 없는 분들을 위해 마련했습니다.</p>
                    <div id="slot-honor-result">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 이름점 모달뷰 -->
    <div id="lucky-name-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div id="lucky-name-content" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">이름점 결과</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="lucky-name-result" class="row text-center" style="background-color:#ffffff">
                        <!--TODO 여기에 이름점 결과 표시됨-->
                    </div>
                <div class="modal-footer" id="lucky-name-modal-footer">
                    <a id="kakao-link-btn">
                        <button id="name-share-facebook" class="btn btn-primary share-name-lucky">페이스북</button>
                        <button id="name-share-kakaotalk" class="btn btn-primary share-name-lucky" style="background-color: #fec503;border-color:#f6bf01;">카카오톡</button>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 별자리점 모달뷰 -->
    <div id="constellation-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">별자리 궁합 결과</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="constellation-result" class="row"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary constellation-button" value="facebook">페이스북</button>
                    <!--<button type="button" class="btn btn-info constellation-button" value="twitter">트위터</button>-->
                    <button type="button" class="btn btn-warning constellation-button" value="kakaotalk">카카오톡</button>
                </div>
            </div>
        </div>
    </div>

    <section id="keyword" class="light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="section-heading">오늘은 무슨일이</h2>
                    <h3 class="section-subheading text-muted">매일매일의 뉴스를 요약하여 뽑은 키워드 입니다<br>키워드를 선택하면 관련 뉴스를 바로 볼 수 있어요</h3>
                </div>
            </div>
            <div class="row justify-content-around align-items-center section-contents keyword-date">
                <button type="button" class="btn btn-secondary keyword-date-button" value="yesterday">어제</button>
                <h5 id="keyword-date"></h5>
                <button type="button" class="btn btn-secondary keyword-date-button" value="tomorrow" id="keyword-tomorrow-button" disabled>내일</button>
            </div>
            <div id="keyword-body">
            </div>
        </div>
    </section>

    <!-- 키워드 모달뷰 -->
    <div id="keyword-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">키워드 뉴스 리스트</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="keyword-modal-body"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <section id="press">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="section-heading">언론</h2>
                    <h3 class="section-subheading text-muted">최근 30일간 언론 언급으로 보는 대선후보 이슈정도</h3>
                    <select id="press-select" class="col-6 form-control mx-auto" title="언론사 선택">
                        <option value="all">모든언론사</option>
                        <option value="asiae">아시아경제</option>
                        <option value="chosun">조선일보</option>
                        <option value="donga">동아일보</option>
                        <option value="edaily">이데일리</option>
                        <option value="hani">한겨레</option>
                        <option value="heraldcorp">헤럴드경제</option>
                        <option value="ichannela">채널A</option>
                        <option value="joins">중앙일보</option>
                        <option value="jtbc">JTBC</option>
                        <option value="kbs">KBS</option>
                        <option value="khan">경향신문</option>
                        <option value="kmib">국민일보</option>
                        <option value="mbc">MBC</option>
                        <option value="mbn">MBN</option>
                        <option value="mk">매일경제</option>
                        <option value="mt">머니투데이</option>
                        <option value="munhwa">문화일보</option>
                        <option value="news1">뉴스1</option>
                        <option value="newsis">뉴시스</option>
                        <option value="ohmynews">오마이뉴스</option>
                        <option value="sbs">SBS</option>
                        <option value="sedaily">서울경제</option>
                        <option value="segye">세계일보</option>
                        <option value="seoul">서울신문</option>
                        <option value="sisain">시사인</option>
                        <option value="tvchosun">TV조선</option>
                        <option value="yonhap">연합뉴스</option>
                        <option value="ytn">YTN</option>
                    </select>
                </div>
            </div>
            <div class="row section-contents">
                <div class="col-md-6 text-center">
                    <h4>언론 언급 점유율</h4>
                    <div id="press-chart-pie"></div>
                </div>
                <div class="col-md-6 text-center">
                    <h4>언론 언급 횟수</h4>
                    <div id="press-chart-line"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="cheering" class="light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="section-heading">대선주자 기운팍팍</h2>
                    <h3 class="section-subheading text-muted">대선 주자들에게 응원메시지를 남기는 공간입니다</h3>
                </div>
            </div>
            <div class="input-group justify-content-center">
                <div class="input-group-btn">
                    <button id="cheering-candidate-button" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">대선후보</button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item cheering-candidate-select" value="김진태">김진태</button>
                        <button class="dropdown-item cheering-candidate-select" value="문재인">문재인</button>
                        <button class="dropdown-item cheering-candidate-select" value="손학규">손학규</button>
                        <button class="dropdown-item cheering-candidate-select" value="심상정">심상정</button>
                        <button class="dropdown-item cheering-candidate-select" value="안철수">안철수</button>
                        <button class="dropdown-item cheering-candidate-select" value="안희정">안희정</button>
                        <button class="dropdown-item cheering-candidate-select" value="유승민">유승민</button>
                        <button class="dropdown-item cheering-candidate-select" value="이재명">이재명</button>
                        <button class="dropdown-item cheering-candidate-select" value="홍준표">홍준표</button>
                    </div>
                </div>
                <input class="form-control" type="text" id="cheering-message" placeholder="메세지를 입력해 주세요" title="메세지">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="post-cheering">등록</button>
                </span>
            </div>
            <div class="container section-contents">
                <div id="cheering-table" class="row align-items-center">
                    {% include 'cheering_table.html' %}
                </div>
                <button id="cheering-more" class="btn btn-secondary btn-block">응원메세지 더보기</button>
            </div>
        </div>
    </section>

    <section id="donate">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="section-heading">후원하기</h2>
                    <h3 class="section-subheading text-muted">대선후보/대선닷컴에 후원해 주세요</h3>
                </div>
            </div>
            <div class="row align-items-center section-contents">
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        참고용 데이터입니다. 필히 후보자 사이트에 들어가서 <strong>후원계좌와 후원금 입금 방법을 확인하신 후</strong> 입금하시기 바랍니다.
                    </div>
                </div>
                {% include 'donate.html' %}
                <div class="col-12">
                    <div class="alert alert-info text-center" role="alert">
                        <strong>대선닷컴도 도와주세요</strong> 서버비가 필요합니다ㅜㅜ<br>국민 612501-01-247419 (예금주 : 김동근)
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
            </div>
        </div>
    </section>

    <section id="labs" class="light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="section-heading">대선닷컴 연구소</h2>
                    <h3 class="section-subheading text-muted">만들다만 기능들을 보고싶다면 클릭하세요</h3>
                </div>
            </div>
            <div class="row justify-content-center section-contents">
                <a href="{% url 'labs' %}" id="labs-button" class="btn btn-info mx-auto" target="_blank">기타 등등 기능 보러가기</a>
            </div>
        </div>
    </section>

    <div id="ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 2017daesun_lucky_result -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8539175752861876"
             data-ad-slot="2185162141"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 mx-auto">
                    <span class="copyright">Copyright &copy; 2017daesun.com 2017</span>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="https://twitter.com/intent/tweet?text=2017대선닷컴&url=https://2017daesun.com"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/sharer/sharer.php?u=2017daesun.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="{% url 'terms' %}" target="_blank">이용약관</a></li>
                        <li class="list-inline-item"><a href="mailto:kimkkikki1@gmail.com">개발자에게 의견보내기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

<!-- Jquery -->
<script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery-ui/jquery-ui.min.js' %}"></script>

<!-- Bootstrap JS -->
<script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Library -->
<script type="text/javascript" src="{% static 'js/waitMe.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/vis/dist/vis.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/d3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/c3/c3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/locale-all.js'%}"></script>
<script type="text/javascript" src="{% static 'js/main/jquery.slotmachine.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/main/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/jquery.waypoints.js' %}"></script>
<script type="text/javascript" src="{% static 'js/html2canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/kakao.min.js' %}"></script>

<!-- Custom JS -->
<script type="text/javascript" src="{% static 'js/main/daesun-initial.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/sns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/rating.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/constellation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/press.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/cheering.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lucky-name-test.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/keyword.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/slot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main/calendar.js' %}"></script>
</html>