{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- 추가한 부분 -->
    <!-- /static/js -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css">

    <title>Name Luck</title>
    <style type="text/css">
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
    </head>
    <body>
    <p>대선후보와의 이름점 보기</p>
    <!-- <input type="text" id='inputUserName'  placeholder="내 이름 입력"> -->

    <div class="col-xs-4">
    <input type="text" id="inputUserName" class="form-control" placeholder="내 이름 입력" maxlength="4" required autofocus>
    </div>

    <a class="btn btn-default" id="buttonUserName">결과보기</a>

    <div class="panel-group">
        <div class="row" id="panelGroup">
            
        </div>
    </div>
    <div class='snsBtnGroup'>
        <a class="btn btn-social-icon btn-twitter" id='twitter'><span class="fa fa-twitter"></span></a>
        <a class="btn btn-social-icon btn-facebook" id='facebook'><span class="fa fa-facebook"></span></a>
        <a class="btn btn-social-icon btn-openid" id='kakaostory'><img src='https://dev.kakao.com/sdk/js/resources/story/icon_small.png'/></a>
        <a class="btn btn-social-icon btn-openid" id='kakaotalk'><img src='https://dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png'/></a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{% static '/js/name-luck.js' %}"></script>

  </body>
</html>


<!-- <!doctype html>
<html>
<head>
    <title>Network | Hierarchical layout</title>

    <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 600px;
            /*border: 1px solid lightgray;*/
        }
    </style>

    <script type="text/javascript" src="/js/NameLuck.js"></script>
    <script src="/lib/vis/dist/vis.js"></script>
    <script src="/lib/vis/dist/vis-network.min.js"></script>
    <link href="/lib/vis/dist/vis-network.min.css" rel="stylesheet" type="text/css"/>
   
</head>

<body onload="draw();">
<h2>대선후보 ♥ 이름점</h2>

<form onsubmit="draw(); return false;">
    <input id="nodeCount" type="text" placeholder="내 이름 입력" style="width: 50px;">
    <input type="submit" value="Go">
</form>

<div id="mynetwork"></div>

<p id="selection"></p>
</body>
</html> -->
