<div class="text-center fadeInUp">
    <div class="well well-lg">
        <p id="pledge-test-count" class="pull-right"></p>
        <p>&nbsp;</p>
        <h4 id="pledge-test-title"></h4>
        <p id="pledge-test-contents"></p>
    </div>
    <div>
        <button type="button" class="btn btn-success" value="1" onclick="blindNextButtonClick(this);">좋아요</button>
        <button type="button" class="btn btn-danger" value="-1" onclick="blindNextButtonClick(this);">싫어요</button>
        <button type="button" class="btn btn-default" value="0" onclick="blindNextButtonClick(this);">몰라요</button>
    </div>
</div>