{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2017대선닷컴</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="col-12">
        <h1>개인정보처리방침</h1>

        <h3>총칙</h3>
        <p>2017대선닷컴은 아래의 목적으로 개인정보를 수집 및 이용하며 개인정보를 안전하게 관리하고 처리하는데 최선을 있습니다. 2017대선닷컴은 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법 등 관련 법령에 따라 이용자의 개인정보를 보호하고, 이와 관련한 여러분의 고충을 신속하고 원활하게 처리할 수 있도록 하기 위해 다음과 같이 개인정보취급방침을 제정하여 이를 준수하고 있으며, 본 처리방침을 홈페이지 공개하여 누구나 언제든지 쉽게 열람할 수 있도록 하고 있습니다.</p>

        <h3>개인정보의 수집 및 이용 목적</h3>
        <p>2017대선닷컴은 이용자의 개인정보를 수집하며 다음의 목적을 위해 이용합니다. 처리하고 있는 개인정보는 다음의 수집·이용목적 이외의 용도로는 활용되지 않습니다.</p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>목적</th>
                    <th>항목</th>
                    <th>보관기간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>응원메시지 등록 및 중복게시글 등록 등의 부정이용방지</td>
                    <td>닉네임, IP주소</td>
                    <td>사이트 폐쇄시까지 보관</td>
                </tr>
                <tr>
                    <td>럭키박스 결과 확인</td>
                    <td>닉네임, 생년월일</td>
                    <td>이용목적 달성 후 지체없이 파기</td>
                </tr>
                <tr>
                    <td>명예의전당 등록</td>
                    <td>닉네임</td>
                    <td>사이트 폐쇄시까지 보관</td>
                </tr>
            </tbody>
        </table>

        <h3>개인정보의 수집 방법 및 동의 방법</h3>
        <p>2017대선닷컴은 다음과 같은 방법으로 개인정보를 수집합니다.<br>ㅇ홈페이지 직접 입력 완료시 동의한 것으로 간주</p>

        <h3>개인정보의 제3자 제공, 개인정보의 취급 위탁</h3>
        <p>2017 대선닷컴은 이용자의 동의 없이 제 3자에게 개인정보를 제공하거나 취급위탁하지 않습니다.</p>

        <h3>개인정보의 파기절차 및 방법 </h3>
        <p>ㅇ파기절차: 어떠한 용도로도 열람 또는 이용할 수 없도록 파기 처리합니다.<br>ㅇ파기방법: 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
    </div>
</body>
</html>