{% load staticfiles %}
{% for rating in ratings %}
<div class="col-md-2 col-sm-2 col-xs-2 text-center wow fadeInRight">
    {% if rating.candidate == '문재인' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/moon.jpg' %}">
    {% elif rating.candidate == '안철수' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/ahn1.jpg' %}">
    {% elif rating.candidate == '이재명' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/lee.jpg' %}">
    {% elif rating.candidate == '안희정' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/ahn2.jpg' %}">
    {% elif rating.candidate == '심상정' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/sim.jpg' %}">
    {% elif rating.candidate == '유승민' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/you.jpg' %}">
    {% elif rating.candidate == '남경필' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/nam.jpg' %}">
    {% elif rating.candidate == '홍준표' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/hong.jpg' %}">
    {% elif rating.candidate == '손학규' %}
    <img class="img-responsive img-circle" src="{% static 'img/candidate/son.jpg' %}">
    {% endif %}
    <h4>{{ rating.candidate }}</h4>
    <p>{{ rating.rating }}</p>
</div>
{% endfor %}