{% load staticfiles %}
<div id="slot-result-detail" class="row justify-content-center text-center" style="background:#ffffff">
    <div class="col-12">
        <h3>대선 잭팟에 당첨되었습니다</h3>
        <p>후보 선정까지 총 {{ lucky.count }}번을 돌리셨습니다</p>
    </div>
    <div class="col-12">
        {% if lucky.candidate == '문재인' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/moon.jpg' %}"/>
        {% elif lucky.candidate == '안철수' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/ahn1.jpg' %}"/>
        {% elif lucky.candidate == '안희정' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/ahn2.jpg' %}"/>
        {% elif lucky.candidate == '이재명' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/lee.jpg' %}"/>
        {% elif lucky.candidate == '심상정' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/sim.jpg' %}">
        {% elif lucky.candidate == '유승민' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/you.jpg' %}">
        {% elif lucky.candidate == '남경필' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/nam.jpg' %}">
        {% elif lucky.candidate == '홍준표' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/hong.jpg' %}">
        {% elif lucky.candidate == '손학규' %}
        <img class="img-fluid rounded" src="{% static 'img/candidate/son.jpg' %}">
        {% endif %}
    </div>
    <h1 class="text-center top-bottom-margin">{{ lucky.candidate }}</h1>
</div>

<div id="slot-add-honor" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">공유 및 명예의 전당 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button id="slot-share-facebook" class="btn btn-primary" onclick="share_facebook()">페이스북</button>
                <button id="slot-share-kakaotalk" class="btn btn-primary share-name-lucky" style="background-color: #fec503;border-color:#f6bf01;" onclick="share_kakaotalk()">카카오톡</button>
                <div id="add-honor-form" style="margin:30px" onclick="check()">
                    <form id="form" method="post" action="/apis/slot/add">
                        {% csrf_token %}
                        <input type="hidden" name="candidate" value = "{{lucky.candidate}}">
                        <input type="hidden" name="count" value = "{{ lucky.count }}">
                        <input type="text" id="your_name" name="your_name" placeholder="닉네임을 입력하세요" disabled>
                        <button id ="add_honor" class="btn" disabled>등록하기</button>
                    </form>
                </div>
                <div class="text-center" style="font-size:0.4em">
                    등록하기를 누르시면 이용약관과 개인정보수집이용에 동의하신 것으로 간주됩니다 .<br>
                    수집된 정보는 명예의 전당 등록 이외에 어떠한 용도로도 활용되지 않습니다<br>
                </div>
            </div>
        </div>
    </div>
</div>