{% load staticfiles %}
<div id="solar" class="opening hide-UI view-2D zoom-large data-close controls-close">
  <div id="universe" class="scale-stretched">
    <div id="galaxy">
      <div id="solar-system" class="earth">
        {% for result in ratings %}
          <div id="{{result.id}}" class="orbit">
            <div class="pos">
              <div class="planet" style="{{result.image}}">
                <dl class="infos">
                  <dt>{{ result.name }}</dt>
                  <dd><span></span></dd>
                </dl>
              </div>
            </div>
          </div>
        {% endfor%}
        <div id="sun" style="content:url({% static 'img/president.png' %})">
          <dl class="infos">
            <dt>Sun</dt>
            <dd><span></span></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
