{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="keywords" content="2017, 대선, 이름점, 별자리, 대통령, 선거, 한국, 대한민국, 문재인, 안희정, 안철수, 이재명, 유승민, 심상정">
    <meta name="description" content="재미로 보는 2017대선. 대한민국을 책임질 대통령 당신은 누구를 고르시겠습니까?">
    <meta name="author" content="kimkkikki & minchoco & haneol">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>2017대선닷컴</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="col-12">
        <h1>이용약관</h1>
        <h3>1. 목적</h3>
        <p>본 이용약관은 2017 대선닷컴의 주요 서비스들의 이용 조건 및 내용을 규정함을 목적으로 합니다.</p>

        <h3>2. 서비스의 주요 기능</h3>
        <h5>돌려돌려돌림판</h5>
        <p>슬롯머신을 돌려 나에게 맞는 후보를 고릅니다. 각 후보가 선택될 확률은 모두 동일하며 온전히 운에 의해 당첨 후보가 정해집니다. 돌림판을 돌렸을 경우 3명의 후보가 동일인으로 매칭되지 않는 경우를 ”실패”라고 정의하며 “실패”한 경우 돌림판을 다시 돌릴 수 있습니다. 3명의 후보가 동일인으로 매칭될 경우를 “성공”이라고 정의하며 ”성공”한 경우 본인의 성공 정보를 본인 소유의 SNS계정으로 공유하거나 2017대선닷컴의 명예의 전당에 등록할 수 있습니다. 명예의 전당에 등록하는 경우 개인정보를 수집/보관하게되며 개인정보 처리방침에 따라 처리됩니다.</p>

        <h5>이름점</h5>
        <p>입력한 이름과 후보자의 이름의 획수를 기반으로 가상 궁합점수를 제공합니다. 본 기능은 오직 재미를 위한 기능으로 어떠한 형태로도 특정 후보자와의 실질적인 관계를 나타내지 않습니다. 점수 산식은 아래 그림과 같습니다.</p>

        --- 그림 ---

        <h5>별자리 궁합</h5>
        <p>입력한 생년월일의 별자리와 후보자 생년월일의 별자리를 기반으로 가상 궁합점수를 제공합니다. 본 기능은 오직 재미를 위한 기능으로 어떠한 형태로도 특정 후보자와의 실질적인 관계를 나타내지 않습니다.</p>

        <h3>3. 개인정보의 보호</h3>
        <p>2017대선닷컴은 개인정보처리방침에 따라 고객의 개인정보를 안전하게 처리합니다.</p>

        <h3>4. 기타사항</h3>
        <p>2017대선닷컴은 2017년 대통령 선거를 보다 재미있게 즐기게하려는 목적으로 기획되었으며 특정 대선 후보를 지지하지 않습니다.</p>
    </div>
</body>
</html>