{% for result in results %}
{% if forloop.counter == 1 %}
<div class="col-12 mx-auto">
    <div id="blood-modal-contents" class="row justify-content-center text-center white-background lucky-best animated zoomIn">
        <div class="col-12">
            {% include 'candidate_img_template.html' %}
            <h5>{{ result.score|floatformat }}점으로 {{ result.candidate }} 후보와 천생연분입니다</h5>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<!--<div class="col-12">-->
    <!--<div class="row">-->
        <!--{% for result in results %}-->
        <!--{% if forloop.counter != 1 %}-->
        <!--<div class="col-3 col-md-2 text-center lucky-rests animated zoomIn">-->
            <!--{% include 'candidate_img_template.html' %}-->
            <!--<h5>{{ result.candidate }}</h5>-->
            <!--<p>{{ result.score|floatformat }}점</p>-->
        <!--</div>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--</div>-->